.App {
  text-align: center;
}

.app {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  /* margin-top: 60px; */
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidebar.open ~ .content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #b8bfcc;
  transform: scale(1.05);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button.active {
  background-color: #007bff;
  color: white;
}
