.location-results {
    padding: 20px;
    text-align: center;
}

.location-results h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Loading Message + Loading Spinner Alignment */
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Loading Spinner Dot Colors */
.app.light .ant-spin-dot i {
    background-color: black;
}

.app.dark .ant-spin-dot i {
    background-color: white;
}

.location-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Light Theme Location Cards */
.app.light .location-item {
    background-color: lavender;
    border: 2px solid ghostwhite;
    color: black;
}

.app.light .location-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(128, 0, 128, 0.1);
}

.app.light .location-item.chain-business {
    background-color: rgb(214, 191, 191);
    border: 2px solid ghostwhite;
}

.app.light .location-item.chain-business:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(214, 191, 191, 0.5);
}

/* Dark Theme Location Cards */
.app.dark .location-item {
    background-color: #2b2b2b;
    border: 2px solid #444;
    color: white;
}

.app.dark .location-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
}

.app.dark .location-item.chain-business {
    background-color: rgb(95, 0, 0);
    border: 2px solid #444;
}

.app.dark .location-item.chain-business:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(233, 163, 163, 0.775);
}

/* Common Styles */
.location-item {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.location-item h3 {
    margin-top: 0;
}

.location-item .address,
.location-item .distance,
.location-item .information {
    font-size: 14px;
    margin: 10px 0;
}

.location-item .information a {
    color: inherit;
    text-decoration: none;
}

.location-item .information a:hover {
    text-decoration: underline;
}

.warning {
    font-weight: bold;
    margin-top: 10px;
    margin: 10px 0;
}

.warning-detail {
    color: rgb(255, 215, 177);
    font-size: 14px;
    margin: 10px 0;
}

.app.light .warning {
    color: rgb(139, 0, 0);
}

.app.light .warning-detail {
    color: rgb(139, 0, 0);
}

.app.dark .warning {
    color: rgb(255, 215, 177);
}

.app.dark .warning-detail {
    color: rgb(255, 215, 177);
}
/* 
.address {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.tag a {
    color: white;
    text-decoration: none;
}

.tag a:hover {
    text-decoration: underline;
}

.distance {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

.information {
    display: block;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin-bottom: 10px;
}
 */
