.location-results {
    padding: 20px;
    text-align: center;
}

.location-results h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.loading,
.error {
    font-size: 18px;
    color: #666;
    text-align: center;
}

.location-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Light Theme */
.app.light .location-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
}

.app.light .location-item.chain-business {
    background-color: rgb(214, 191, 191);
}

.app.light .location-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Dark Theme */
.app.dark .location-item {
    background-color: #2b2b2b;
    border: 1px solid #444;
    color: #ddd;
}

.app.dark .location-item.chain-business {
    background-color: rgb(95, 0, 0);
}

.app.dark .location-item:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* Common Styles */
.location-item {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.location-item h3 {
    margin-top: 0;
}

.location-item .address,
.location-item .distance,
.location-item .information {
    font-size: 14px;
    margin: 10px 0;
}

.location-item .information a {
    color: inherit;
    text-decoration: none;
}

.location-item .information a:hover {
    text-decoration: underline;
}

.warning {
    font-weight: bold;
    margin-top: 10px;
    margin: 10px 0;
  }

.warning-detail {
    color: rgb(255, 215, 177);
    font-size: 14px;
    margin: 10px 0;
  }

  .app.light .warning {
    color: rgb(139, 0, 0);

  }

.app.light .warning-detail {
    color: rgb(139, 0, 0);
  }

  .app.dark .warning {
    color: rgb(255, 215, 177);
  }

.app.dark .warning-detail {
    color: rgb(255, 215, 177);
  }
/* 
.address {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.tag a {
    color: white;
    text-decoration: none;
}

.tag a:hover {
    text-decoration: underline;
}

.distance {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

.information {
    display: block;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin-bottom: 10px;
}
 */
