.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 0;
    height: 100vh;
    background-color: #444;
    color: white;
    overflow-x: hidden;
    transition: width 0.3s ease;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
}

.sidebar.open {
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    width: 100%;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 2;
    background-color: transparent;
    color: black;
    transition: left 0.3s ease;
    left: 0;
    border-radius: 8px;
    margin: 20px;
    user-select: none;
}

.hamburger-menu:hover {
    background-color: #ddd;
}

.sidebar.open + .hamburger-menu {
    left: 250px; 
}

.content {
    padding: 20px;
    padding-top: 60px;
    transition: margin-left 0.3s ease;
    flex-grow: 1;
    width: calc(100% - 60px);
}

.sidebar.open ~ .content {
    margin-left: 250px;
    width: calc(100% - 250px);
}
